@model List<schedule>;

    <div class="mt-4 ml-5 mr-5">
        <table class="table table-hover table-bordered mt-2">
            <thead class="font-weight-bold text-dark">
                <tr>
                    <td>Дисциплина</td>
                    <td>Время</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Discipline.Name</td>
                        <td>@item.TimeBegin.Name - @item.TimeEnd.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
